
:root {
    
/*BASEMODE*/

    /*Cores genericas*/
    --cinzaClaro: #CBCFD3;
    --azulEscuro: #161B21;
    --azulClaro:  #536994;
    --azulClaroTr: #33425fe8;
    /*Cores botoes*/
    --linkedinColor: #0a66c24d;
    --githubColor: #6b737c4d;
    --whatsappColor: #01e6734d;
    --instagramColor: #ef58654d;

/*DARKMODE*/

    /*Cores genericas DARKMODE*/
    --cinzaClaroDm: #617794;
    --azulEscuroDm: #161B21;
    --azulClaroDm:  #97b6f5;
    --azulClaroTrDm: #171d2be8;
    /*Cores botoes DARKMODE*/
    --linkedinColorDm: rgba(10, 102, 194, 0.5);
    --githubColorDm: rgba(163, 177, 194, 0.5);
    --whatsappColorDm: rgba(1, 230, 115, 0.5);
    --instagramColorDm: rgba(239, 88, 101, 0.5);



    /*Cores Diversos*/
    --versionColor: #00ff2a;
    

}
head {
    /*Deixa a barra de rolagem de forma suave*/
    scroll-behavior: smooth;
    font-size: 0em;
}

::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-track {
    background: var(--azulClaro);
    border-radius: 0em;
}

::-webkit-scrollbar-thumb {
    background:var(--cinzaClaro);
    border-radius: 0em;
}

body {
    background-color: var(--azulEscuro);
    color: var(--cinzaClaro);
    font-family: monospace;
    font-weight:lighter;
    font-size:large;
}
header {
    background-color: var(--azulEscuro); 
}

#divNav {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
}

#navCab {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

#divButton {    
    width: 100%;
    display: grid;
    justify-content: stretch;
    text-align: center;
    font-weight: 700;
}

#titulo1 {
    font-family: 'Source Code Pro', monospace;
    font-size:  2.5rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--cinzaClaro);
    background-color:var(--azulEscuro);
    text-align: center;
    padding-top: 0.3em;
}

main {
    display: grid;
}

#titulo2,
#titulo3,
#titulo4 {
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    color: var(--cinzaClaro);
}

.faixa1 {    
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: var(--cinzaClaro);
}

.botao, 
.botao:visited {
        display: flex;
        background-color:var(--cinzaClaro);
        text-align: center;
        font-weight: 700;
        font-family: monospace;
        justify-content: center;
        align-items: center;
        color: var(--azulClaro);
        text-decoration: none;
        transition: 0.3s;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

}

#divAcess {
    width: 100%;
    display: grid;
    justify-content: start;
    text-align: center;
    font-weight: 700;
}

.botao_destaque{
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;        
    width: auto;
}

.botao_progresso{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/2;    
    width: auto;
}

.botao_finalizados{
    
    display: grid;
    grid-column: 2/2;
    grid-row: 2/2;
    width: auto;      
}

.botao_destaque:hover,
.botao_progresso:hover,
.botao_finalizados:hover,
.botao_todos:hover{
    color: var(--cinzaClaro);
    background-color: var(--azulEscuro);
    margin: 0rem 0rem 0rem 0rem;
}

#divSpan {
    padding-bottom: 2em;
}

.tdSpan, .tdSpan:visited {
    text-align: center; 
    height: 5em;
    color: var(--azulClaro);
    text-decoration: none;
    transition: 0.3s; 
}

#tableSpan {
    height: 100%;
    width: 100%;  
    font-weight: 700;
}

.a-link-projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
    height: 100%;
    color: var(--azulClaro);
    border: rgba(255, 255, 255, 0) solid 1px;
}

.tdSpan :hover
{
    background-color: var(--azulClaro);
    color: rgba(255, 255, 255, 0);
    border: var(--cinzaClaro) solid 1px;
    border-radius: 8px;
    transition: 0.3s;
    background-image: url(/Em\ desenvolvimento.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.tdIcon {
    background-color: var(--cinzaClaro);
}

#linkedin :hover {
    display: grid;
    justify-content: center;
    background-color: var(--linkedinColor);
}

#github :hover {
    display: grid;
    justify-content: center;
    background-color: var(--githubColor);
}

#whatsapp :hover {
    display: grid;
    justify-content: center;
    background-color: var(--whatsappColor);
}

#instagram :hover {
    display: grid;
    justify-content: center;
    background-color: var(--instagramColor);
}

.rede {
    display: grid;
    justify-content: center;
    border-style: none;
    border: #ffffff00 solid;
    border-radius: 15%;
    transition: 0.5s;
}

.rede:hover {
    border: solid 1px;
    border-top-color: var(--cinzaClaro);
    border-bottom-color: var(--cinzaClaro);
    border-left-color: var(--azulClaro);
    border-right-color: var(--azulClaro);
    margin-left: 10px;
    margin-right: 10px;
}

.icons,
.icons :hover{

    width: 2em;
    height: 2em;
    transition: 99999s;
    background-color:inherit;
    
}

footer {
    display: grid;
    justify-content: center;
    background-color: var(--azulClaroTr);
    text-align: center;
}

#dados1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--cinzaClaro);
}

#dados2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--cinzaClaro);
}

#version {
    font-size: xx-small;
    color: var(--versionColor);
    display: flex;
    justify-content: end;
}


