/*Laptop fullhd our tv's*/
@media (min-width: 1024px) {

    #dados1{
        font-size: 15px;
    }
    #dados2{
        font-size: 13px;
        width: 1000px;
        padding-bottom: 1em;
    }
    #version {
        justify-content: center;
    }

    #name,#email,#tel,#msg {
        width: 40%;
    }

    #divSpan {
        padding-bottom: 2em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .botao_destaque,.botao_todos {
        width: 80%;
        justify-self: center;
    }

    .botao_progresso {
        width: 80%;
        justify-self: end;
    }

    .botao_finalizados {
        width: 80%;
        justify-self: start;
    }

    #tableIcon {
        width: 80%;
        justify-self: center;
    }
}
@media (min-width: 1440px) {
    #name,#email,#tel,#msg {
        width: 30%;
    }

    .botao_destaque,.botao_todos {
        width: 75%;
        justify-self: center;
    }

    .botao_progresso {
        width: 75%;
        justify-self: end;
    }

    .botao_finalizados {
        width: 75%;
        justify-self: start;
    }

    #tableIcon {
        width: 75%;
        justify-self: center;
    }

    #divSpan {
        padding-bottom: 2em;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 2000px) {
    #name,#email,#tel,#msg {
        width: 30%;
    }

    .botao_destaque,.botao_todos {
        width: 60%;
        justify-self: center;
    }

    .botao_progresso {
        width: 60%;
        justify-self: end;
    }

    .botao_finalizados {
        width: 60%;
        justify-self: start;
    }

    #tableIcon {
        width: 60%;
        justify-self: center;
    }

    #divSpan {
        padding-bottom: 2em;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}