
head {

    /*Deixa a barra de rolagem de forma suave*/
    scroll-behavior: smooth;
}



body {
    background-color: #161B21;
    color: #CBCFD3;
    font-family: monospace;
    font-weight:lighter;
    font-size:large;
}

header {
    background-color: #161B21;
  
}

header #titulo-principal {
    font-size:xxx-large;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #1a3e8b52;
    display: grid;
    place-items: center;
 
}

main {
    display: grid;
}

.faixa1 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin: bottom 0px;
}

.titulo {
    display: grid;
    justify-content: center;
}

.botao
    {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: grid;
        justify-content: center;
        background-color:#CBCFD3;
      }

.s, .divspan, footer {
    display: grid;
    justify-content: center;
}

td {
    background-color: #CBCFD3;
    color:#161B21;
    justify-content: stretch;
    height: 1vh;
    width: 1vh;
    
}

img {
    position:absolute;
    justify-content: center;
}

a, a:visited {
    color:#33425F;
    text-decoration: none;
    transition: 1.5s;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

a:hover {  
    color: rgb(0, 255, 42);
    background-color: #161B21;
   
}

.alink {
    display: grid;
    justify-content: center;
}

.icons {
    width: 2em;
    height: 2em;
    display:grid;
    justify-content: center;
}


/*Estilização da barra de rolagem*/
::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-track {
    background: #33425F;
    border-radius: 0em;
}

::-webkit-scrollbar-thumb {
    background:#CBCFD3;
    border-radius: 0em;
}

#dados {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

#version {
    font-size: xx-small;
    color: rgb(0, 255, 42);
    display: flex;
    justify-content: end;
}


