

head {
    /*Deixa a barra de rolagem de forma suave*/
    scroll-behavior: smooth;
}



body {
    background-color: #161B21;
    color: #CBCFD3;
    font-family: monospace;
    font-weight:lighter;
    font-size:large;
}

header {
    background-color: #161B21;
  
}

main {
    display: grid;
}

#divnav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

#titulo1 {
    font-size:  6vh;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: #CBCFD3;
    background-color:#161B21;
    text-align: center;
}
#titulo2, #titulo3, #titulo4{
    text-align: center;
}


.bnav {
    height: 3em;
    border-radius: 0px;
    transition: 1.0s;
    background-color:#33425F;
    color:rgba(187, 255, 0, 0.39);
    font-family: monospace;
    font-weight:lighter;
    outline-style:none;
    border:0;
    width: 50%;
    justify-self: center;

}

.faixa1 {
    
    margin-top: 0;
    margin: bottom 0;
    text-align: center;
}

.botao
    {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: grid;
        justify-content: center;
        background-color:#CBCFD3;
      }



.divbutton {        
    display: grid;
}
.s, .divspan, footer {
    display: grid;
    justify-content: center;
}

td {
    background-color: #CBCFD3;
    color:#161B21;
    justify-content: stretch;
    height: 1vh;
    width: 1vh;
    
}


.a, .a:visited {
    color:#33425F;
    text-decoration: none;
    transition: 1.0s;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.bnav:hover,.a:hover {  
    color: rgb(0, 255, 42);
    background-color: #161B21;
   
}

/*Estilização da barra de rolagem*/
::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-track {
    background: #33425F;
    border-radius: 0em;
}

::-webkit-scrollbar-thumb {
    background:#CBCFD3;
    border-radius: 0em;
}

/*Essa parte do codigo não é influenciada portanto segura*/
#dados {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

#version {
    font-size: xx-small;
    color: rgb(0, 255, 42);
    display: flex;
    justify-content: end;
}

/*Estilização individual dos botoes do contato*/

#linkedin :hover {
    display: grid;
    justify-content: center;
    background-color: rgba(10, 102, 194, 0.300);
}

#github :hover {
    display: grid;
    justify-content: center;
    background-color: rgba(107, 115, 124, 0.300);
}

#whatsapp :hover {
    display: grid;
    justify-content: center;
    background-color: rgba(1, 230, 115, 0.300);
}

#instagram :hover {
    display: grid;
    justify-content: center;
    background-color: rgba(239, 88, 101, 0.300);

}

/*Estilização conjunta dos botoes do contato*/

.rede {
    display: grid;
    justify-content: center;
    transition: 1s;
}
.rede {
    display: grid;
    justify-content: center;
    transition: 1s;
}

.icons, .icons :hover{

    width: 2em;
    height: 2em;
    transition: 99999s;
    background-color:inherit;
    
}





